/* All selector to add border-box */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Add background colour to the whole page */
body {
    background-color: #d9dcd6;
}

/* Add padding to the header to add space from within the header */
/* white colour for text */
/* Different background colour for header */
/* Accepted font-family consisting of Trebuchet MS then a series of fallback fonts */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Added inline-block and increased front size */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Adding white colour to seo logo */
header h1 .seo {
    color: #d9dcd6;
}

/* Add padding and margin to the nav with float right to sit on the right */
/* Font sizing and font family applied */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Removes bulletpoints from list style */
nav ul {
    list-style-type: none;
}

/* list items inside the nav display inline-block to ensure they stack horizontally */
/* Add margin left to each list item to ensure they don't stick together */
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* All anchors with the colour white and text-decoration none as browsers default to underline */
a {
    color: #ffffff;
    text-decoration: none;
}

/* 16px as a baseline for all paragraphs */
p {
    font-size: 16px;
}

/* Defines the  */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* utility class to float elements to the left  and 
add margin-right to ensure content isn't sticking on the right */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Same as float-left but instead float to the right and margin on the left */
.float-right {
    float: right;
    margin-left: 25px;
}

.section-main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.section-main>* {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* all elements as a direct child to a .benefits element applies margin bottom and colour white */
.benefits>* {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits>*>h3 {
    margin-bottom: 10px;
    text-align: center;
}

aside>article>img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Add max height to all img elements */
img {
    max-height: 200px;
}

/* Add margin-bottom and font-size to all h2  */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Set font-size for h4 */
h4 {
    font-size: 20px;
}

/* Set padding, font-family and text-align to footer elements */
/* clear property to clear any potential floats on both side (left and right) */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}